html,
body {
  width: 100%;
  font-family: 'SeoulNamsan',"NotoSansKR",'Sans-serif';
}

.inner {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
